<h1><%= @listing.title %></h1>

<%= link_to "Edit Details", edit_host_listing_path(@listing) %>
<%= link_to "Edit Rooms", host_listing_rooms_path(@listing) %>
<pre>
<%= JSON.pretty_generate(@listing.as_json) %>
</pre>
